@model Mtg.Card.Tracker.Models.MagicCard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Magic Cards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardsAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardsAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MultiverseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiverseId)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="mtg">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MagicCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
