@model Mtg.Card.Tracker.Models.MagicCard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MagicCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toughness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toughness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManaCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManaCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MultiverseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiverseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MagicCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
