@model IEnumerable<Mtg.Card.Tracker.Models.MagicCard>

@{
    ViewData["Title"] = "My Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toughness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManaCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultiverseId)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toughness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultiverseId)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MagicCardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MagicCardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MagicCardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
