@model IEnumerable<Mtg.Card.Tracker.Models.TradeOffer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="PendingTradeOffers">Your Pending Trade Offers</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>*@
            <th hidden>
                @Html.DisplayNameFor(model => model.TradeOfferId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardOffer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardRequest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.IdentityUser.Id)
        </td>*@
        @*<td hidden>
            @Html.DisplayFor(modelItem => item.TradeOfferId)
        </td>*@
            <td>
                <img src="@Html.DisplayFor(modelItem => item.CardOffer.ImageUrl)" alt="mtg">
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.CardRequest.ImageUrl)" alt="mtg">
            </td>
            <td>
                @using (Html.BeginForm("Accept", "TradeOffers"))
                {
                    <input type="hidden" name="TradeOfferId" value="@item.TradeOfferId" />
                    <input type="submit" value="Accept" class="btn btn-primary" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Deny", "TradeOffers"))
                {
                    <input type="hidden" name="TradeOfferId" value="@item.TradeOfferId" />
                    <input type="submit" value="Deny" class="btn btn-danger" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
