@model IEnumerable<Mtg.Card.Tracker.Models.TradeOffer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="PendingTradeOffers">Your Pending Trade Offers</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accept)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CardOffer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardRequest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accept)
            </td>*@
            <td>
                <img src="@Html.DisplayFor(modelItem => item.CardOffer.ImageUrl)" alt="mtg">
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.CardRequest.ImageUrl)" alt="mtg">
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.TradeOfferId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.TradeOfferId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.TradeOfferId">Delete</a>*@
                <form asp-action="Accept">
                    <div class="form-group">
                        <input type="submit" value="Accept Trade" class="btn btn-default" />
                    </div>
                </form>
                <form asp-action="Deny Trade">
                    <div class="form-group">
                        <input type="submit" value="Deny Trade" class="btn btn-default" />
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
